#left_tabs
  :position absolute
  :bottom -1px
  :left 210px


#right_tabs
  :position absolute
  :right 15px
  :bottom -1px


ul.tabs
  :margin 0 0 5px

  a
    :color #444
    :font-weight bold
    :text-decoration none

    &:visited
      :color #444
      :font-weight bold
      :text-decoration none

    &:hover
      :color #666

  li
    :list-style-type none
    :display inline
    :background-color #DDD
    :padding 5px 0 4px
    :margin 0 1px

    a
      :padding 5px 12px
