@import compass/utilities/general/reset.sass
@import 960/grid.sass

.tabs
  position: absolute
  bottom: -1px

  td
    vertical-align: bottom
    padding-right: 0
    padding-bottom: 1px

.tab
  a
    color: #444
    font-weight: bold
    text-decoration: none

    &:visited
      color: #444
      font-weight: bold
      text-decoration: none

    &:hover
      color: #666

  div
    background-color: #DDD
    padding: 0
    padding-bottom: 4px
    padding-top: 5px
    margin: 0 1px

    a
      padding: 5px 12px

.right_tab
  +alpha
  +grid-prefix(1,16)
  +grid(2,16)
  right: 15px
  bottom: -1px

  td
    vertical-align: bottom
    padding-right: 0
    padding-bottom: 1px
